.ui-container {
  background-color: #f7f7f7;

  .ui-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
  }
}

.ui-mdx {
  color: var(--text2);

  h1 {
    font-weight: 900;
  }

  h1, h2, h3, h4 {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }

  h2 + h3 {
    margin-top: 1rem;
  }

  p {
    margin: 1rem 0;
    line-height: 1.5;
    + p,
    + ul, 
    + ol {
      margin-top: -0.5rem;
    }
  }

  hr {
    margin: 1rem 0;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
  }

  ul, li {
    list-style: square;
    list-style-position: inside;
    ul {
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  ul, ol {
    margin-top: 1rem;
  }

  li {
    line-height: 1.7;
    a {
      color: #ff7979;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  code {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #fddcdc;
    color: #ff7979;
  }
}