// when modal opens
.ui-prevent-scroll {
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  body {
    background-color: #222;
  }
}

.ui-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  
  .ui-content {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-x) * 1.5);
  }
}