.ui-container-loading {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  @include safe-bottom;

  &.-fixed-bottom-button {
    padding-bottom: 0;
  }

  .ui-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: var(--spacing-x);
    padding-right: var(--spacing-x);
    text-align: center;

    .ui-image-logo {
      width: 40px;
      height: 40px;
    }

    .ui-image-logo + .page-title {
      margin-top: 24px;
    }

    .page-title {
      @include font-heading(4);
      color: var(--text2);
    }

    .page-desc {
      margin-top: 8px;
      @include font-body(1);
      color: var(--text5);
    }

    .ui-loader {
      margin-top: 8px;
    }
  }

  .ui-sticky-bottom {
    padding-top: 16px;
    padding-left: var(--spacing-x-narrow);
    padding-right: var(--spacing-x-narrow);
    @include safe-bottom(16px);
    text-align: center;
  }
}

.ui-modal-body {
  .ui-container-loading {
    padding: 0;
    min-height: calc(100vh - 48px - 32px);
  }
}