.ui-container {
  min-height: 100vh;
  background-color: #f7f7f7;
  padding-bottom: 80px;
  @include m-style {
    background-color: #fff;
  }

  .ui-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    background-color: #fff;
    @include m-style {
      padding: 20px 20px;
    }
  }
}

.ui-mdx {
  color: var(--text2);

  .ui-label + h1 {
    margin-top: 0.5rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: -1.5px;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    margin-top: 1rem;
  }

  h4 {
    margin-top: 1rem;
  }

  p {
    margin: 1rem 0;
    line-height: 1.5;
    word-break: break-all;
    text-align: justify;
    + p,
    + ul, 
    + ol {
      margin-top: -0.5rem;
    }
    a {
      color: #ff7979;
    }
  }

  iframe {
    margin-top: 1rem;
  }

  ul, ol {
    margin-top: 0.5rem;
    list-style-position: inside;
    ul, ol {
      margin-top: 0;
      margin-left: 1rem;
    }
    + h3 {
      margin-top: 4rem;
    }
  }

  ol li {
    list-style-type: decimal;
  }

  li {
    list-style-type: square;
    margin-left: 1.2rem;
    line-height: 1.7;
    ul {
      li {
        list-style-type: circle;
      }
    }
    a {
      color: #ff7979;
      cursor: pointer;
    }
  }

  hr {
    margin: 1rem 0;
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    & + * {
      margin-top: 0;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin-top: 1rem;
  }

  pre + h3,
  iframe + h3 {
    margin-top: 5rem;
  }

  code:not([class*='language']) {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #fddcdc;
    color: #ff7979;
    vertical-align: text-top;
    word-break: break-all;
  }

  code[class*='language'] {
    padding: 0;
  }

  /* 코드 블록 스타일링 */
  pre, code {
    font-family: 'Consolas', monospace;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.7;
  }

  .hljs-comment, .hljs-quote {
    font-style: normal;
  }

  video {
    margin-top: 1rem;
  }
}