@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Smooch&display=swap');

.ui-home {
  display: grid;
  min-height: 100vh;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto;
  background-color: #000;

  @media (min-aspect-ratio: 1.2/1) {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    --page-gap: 40px;
    position: relative;
    overflow: hidden;

    .logo {
      position: absolute;
      top: var(--page-gap);
      left: var(--page-gap);
      font-size: 40px;
      font-weight: 700;
      color: white;
      z-index: 1;
    }

    .resume {
      position: absolute;
      bottom: var(--page-gap);
      left: var(--page-gap);
      display: flex;
      flex-direction: column;
      color: white;

      .category {
        font-size: 20px;
        line-height: 1.5;
      }
      .title {
        margin-bottom: 16px;
        font-size: 52px;
        font-weight: 800;
        line-height: 1.25;
      }
      .desc {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 500;
      }
      .date {
        font-size: 16px;
      }
    }
  }
}

.pf-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 2vw;
  }

  li {
    a {
      opacity: 0.3;
      transition: all 0.15s linear;
    }
    &:nth-child(1) {
      a {
        background-color: rgb(46, 160, 52);
      }
    }
    &:nth-child(2) {
      a {
        background-color: rgb(25, 201, 192);
      }
    }
    &:nth-child(3) {
      a {
        background-color: rgb(17, 51, 247);
      }
    }
    &:nth-child(4) {
      a {
        background-color: rgb(251, 255, 0);
      }
    }
    &:nth-child(5) {
      a {
        background-color: rgb(115, 0, 209);
      }
    }
    &:nth-child(6) {
      a {
        background-color: rgb(255, 0, 179);
      }
    }
    &:hover {
      a {
        opacity: 0.7;
      }
    }
  }
}