.ui-home {
  --page-gap: 3.5vw;

  .left,
  .right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--page-gap);
  }

  @include m-style {
    --page-gap: 20px;
    display: flex;
    flex-direction: column;

    .left {
      padding-top: 40px;
      padding-bottom: 0;
    }
    .right {
      padding-top: 0;
      padding-bottom: 40px;
      flex: 1;
      overflow: auto;
    }

    &.intro {
      min-height: 100vh;
      background-color: #111;
      color: #fff;
    }

    &:nth-of-type(2n-1):not(.intro) {
      background-color: #f7f7f7;
      color: #111;
    }
    &:nth-of-type(2n) {
      background-color: #fff;
      color: #111;
    }
  }

  @include pc-style {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    @media screen and (max-width: 1080px) {
      min-height: min(100vh, 700px);
      @media screen and (max-height: 700px) {
        min-height: max(100vh, 700px);
      }
    }
    @media screen and (min-width: 1081px) {
      min-height: 100vh;
    }

    &:nth-of-type(2n-1) {
      background-color: #111;
      color: white;

      .right {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .01) 0, rgba(255, 255, 255, .04) 100%);
      }
    }
    &:nth-of-type(2n) {
      background-color: #fff;
      color: #111;

      .left {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .04) 100%);
      }
    }
  }

  .txt-area {
    display: flex;
    flex-direction: column;
    gap: max(0.5vw, 4px);

    .category {
      font-size: max(1.2vw, 12px);
      font-weight: 100;
      line-height: 1.5;
    }

    .title {
      margin-left: -0.05em;
      font-size: max(4.5vw, 40px);
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -2px;
      text-transform: uppercase;

      &.tight {
        letter-spacing: -3px;
      }
    }

    .desc {
      font-size: max(2vw, 16px);
      font-weight: 500;
    }

    .etc {
      font-size: max(1.5vw, 14px);
      font-weight: 100;
    }
  }

  .sub-title {
    margin-top: auto;
    margin-bottom: 1em;
    font-size: max(2.5vw, 24px);
    @include m-style {
      margin-top: 2em;
    }
  }

  .common-list {
    display: grid;
    gap: 1em;

    li {
      position: relative;
      display: flex;
      align-items: center;
      font-size: max(1.3vw, 16px);
      font-weight: 300;
      @include m-style {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--border100);
        font-size: 14px;
        font-weight: 500;
        color: var(--text5);
      }
      @media (hover: hover) {
        a:hover {
          color: var(--yellow);
        }
      }
    }


    .num,
    .label {
      margin-right: 1em;
      line-height: 1;
      font-size: max(1.3vw, 14px);
      @include m-style {
        margin-bottom: 0.5em;
        padding: 0.2em;
        font-size: 12px;
        border-radius: 4px;
        background-color: var(--text2);
        color: #fff;
        text-align: center;
      }
    }

    .num {
      flex-shrink: 0;
      width: max(5.5vw, 60px);
      font-family: "Space Mono", 'Gulim', monospace;
      font-weight: 700;
    }

    .label {
      display: inline-block;
      width: max(5.5vw, 60px);
      font-family: var(--font-family-sans);
      font-weight: 800;
    }
  }

  // 인트로
  &.intro {
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //min-height: 100vh;
      overflow: hidden;
      @include m-style {
        padding-bottom: 40px;
        height: 100vh;
      }
    }

    .right {
      display: flex;
      //min-height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include m-style {
        display: none;
      }
    }

    .txt-intro {
      margin-top: auto;
      text-align: justify;
      font-size: max(0.9vw, 14px);
      font-weight: 300;
      line-height: 1.5;
      opacity: 0.5;
      word-break: break-all;

      .title {
        font-size: max(4.5vw, 56px);
      }
    }

    .toc {
      display: grid;
      gap: max(2vw, 16px);
      margin-top: auto;
      //text-transform: uppercase;
      li {
        font-size: max(3.5vw, 20px);
        font-weight: 700;
        line-height: 1;
        height: max(3.5vw, 20px);
        letter-spacing: -1px;
        overflow: hidden;

        span {
          display: block;
          line-height: 1;
          overflow: hidden;
          transition: transform 0.25s;
        }

        @media (hover: hover) {
          &:hover {
            span[lang="en"] {
              transform: translateY(-100%);
            }

            span[lang="ko"] {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
  }

  .careers-area {
    position: relative;
    padding-left: 3vw;
    margin-top: auto;
    @include m-style {
      margin-top: 2em;
      padding-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: calc(var(--page-gap) - 6vw);
      left: 0;
      display: block;
      width: min(1vw, 1px);
      height: calc(100% + 6vw);
      background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0), #111 10%, #111);
      //background-color: red;
      @include m-style {
        display: none;
      }
    }

    .careers-list {
      display: flex;
      flex-direction: column;
      gap: max(3.5vw, 24px);

      @keyframes bg {
        50% {
          background-color: var(--yellow);
        }
        100% {
          background-color: currentColor;
        }
      }

      li {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 1.5vw;
          left: -3.35vw;
          display: block;
          width: 0.8vw;
          aspect-ratio: 1/1;
          border-radius: 0.4vw;
          background-color: currentColor;
          transform: rotate(45deg);
          transition: background-color 1s;
          @include m-style {
            display: none;
          }
        }

        &.-active {
          &::before {
            animation: bg 2s infinite;
          }
        }

        @media (hover: hover) {
          &:hover {
            .company {
              border-bottom-color: var(--yellow);
            }
          }
        }

        @include m-style {
          padding: 0 0 0 0.8em;
          border-left: 0.2em solid currentColor;
          //background-color: #f7f7f7;
        }
      }

      .company {
        display: inline-block;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-bottom-width: 0.2em;
        line-height: 1;
        font-size: max(2vw, 20px);
        font-weight: 800;
      }

      .company-desc {
        margin-top: 0.4em;
        line-height: 1;
        font-size: max(1.2vw, 14px);
        font-weight: 500;
        color: var(--text5);
      }

      .period {
        margin-top: 0.6em;
        line-height: 1;
        font-size: max(1.2vw, 14px);
        font-weight: 300;
        color: var(--text8);

        span {
          margin-left: 0.5em;
          font-size: max(1vw, 12px);
          font-weight: 500;
        }
      }

      .detail {
        @include m-style {
          display: none;
        }
      }
    }
  }

  // 경력사항
  &.experience {
  }

  &.activities {
    .common-list {
      margin-top: auto;
      @include m-style {
        margin-top: 3em;
      }
    }
  }

  &.etc {
    .skill-set {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      img {
        display: block;
        width: 80px;
        border: 1px solid rgba(#000, 0.1);
        border-radius: 16px;
        @include m-style {
          width: 64px;
        }
      }
    }

    @include m-style {
      .right:has(.title) {
        margin-top: 56px;
      }
      .common-list.skills {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.4em;
          &.dev li {
            padding: 0.4em 0.8em;
            border: 2px solid rgba(#222, 0.1);
            border-radius: 1em;
            background-color: var(--primary08);
            font-size: 18px;
            color: var(--text2);
          }

          li {
            padding: 0.4em 0.8em;
            border: 2px solid rgba(#222, 0.1);
            border-radius: 1em;
            background-color: var(--bg100);
          }
        }
      }
    }
    @include pc-style {
      .common-list {
        & > li {
          width: 100%;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 60px);

          li:not(:first-child) {
            &::before {
              content: ',';
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}

.ui-footer {
  padding: 60px 0;
  background-color: #111;
  font-size: 12px;
  line-height: 2;
  color: rgba(#fff, 0.5);
  text-align: center;
  @include m-style {
    padding: 32px 0;
    font-size: 10px;
  }
}