// 순서 중요 -------------------------------------
@import './abstracts/variables';
@import './abstracts/mixin_typo';
@import './abstracts/mixin_utils';

@import './base/fonts';
@import './base/reset';
@import './base/preset';
// 순서 중요 끝 ----------------------------------

// components는 ABC 순으로 넣어주세요
@import './components/badge';
@import './components/button_group';
@import './components/button';
@import './components/card';
@import './components/checkbox';
@import './components/chips';
@import './components/divider';
@import './components/header';
@import './components/icons';
@import './components/img';
@import './components/input';
@import './components/label';
@import './components/loader';
@import './components/modal';
@import './components/radio';
@import './components/select';
@import './components/table';
@import './components/tabs';
@import './components/toggle';

@import './layout/layout_base_loading';
@import './layout/layout_base';
@import './layout/layout_box';
@import './layout/layout_mdx';

@import './page/home';


//@import "vendors/animate";

// @import 'highlight.js/styles/default.css';
// @import 'highlight.js/styles/github-dark-dimmed.min.css';
@import 'highlight.js/styles/atom-one-dark.css';

/* 코드 블록 스타일링 */
pre, code {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
}

.cursorImage {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none; /* 마우스 이벤트 차단 */
  display: none; /* 마우스 움직임이 없을 때 숨김 */
  transition: transform 0.1s ease;
}