$fontCdnUrl: 'https://res.cloudinary.com/finnq/raw/upload/v1701913878/p/fonts/suit/';

@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  font-style: normal;
  src: url('#{$fontCdnUrl}SUIT-Light.eot');
  src: url('#{$fontCdnUrl}SUIT-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fontCdnUrl}SUIT-Light.woff2') format('woff2'),
  url('#{$fontCdnUrl}SUIT-Light.woff') format('woff'),
  url('#{$fontCdnUrl}SUIT-Light.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  font-style: normal;
  src: url('#{$fontCdnUrl}SUIT-Medium.eot');
  src: url('#{$fontCdnUrl}SUIT-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fontCdnUrl}SUIT-Medium.woff2') format('woff2'),
  url('#{$fontCdnUrl}SUIT-Medium.woff') format('woff'),
  url('#{$fontCdnUrl}SUIT-Medium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontCdnUrl}SUIT-Bold.eot');
  src: url('#{$fontCdnUrl}SUIT-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontCdnUrl}SUIT-Bold.woff2') format('woff2'),
  url('#{$fontCdnUrl}SUIT-Bold.woff') format('woff'),
  url('#{$fontCdnUrl}SUIT-Bold.ttf') format("truetype");
  font-display: swap;
}