$fontUrl: 'https://pop.finnq.com/ui_common/fonts/';

@font-face {
    font-family: 'SUIT';
    font-weight: 300;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Light.eot');
    src: url('#{$fontUrl}SUIT-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$fontUrl}SUIT-Light.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Light.woff') format('woff'),
        url('#{$fontUrl}SUIT-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Medium.eot');
    src: url('#{$fontUrl}SUIT-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fontUrl}SUIT-Medium.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Medium.woff') format('woff'),
        url('#{$fontUrl}SUIT-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Bold.eot');
    src: url('#{$fontUrl}SUIT-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$fontUrl}SUIT-Bold.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Bold.woff') format('woff'),
        url('#{$fontUrl}SUIT-Bold.ttf') format("truetype");
    font-display: swap;
}